{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block content %}
    <h4>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna
        aliqua. Idque Caesaris facere voluntate liceret: sese habere. Ambitioni dedisse scripsisse iudicaretur. Quis
        aute iure reprehenderit in voluptate velit esse.</h4>
{% endblock %}
