{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block content %}
   <br/>
   <button class="uk-button uk-button-primary">wefwef</button>
   <button class="uk-button uk-button-complement">wefwef</button>
   <button class="uk-button uk-button-secondary">wefwef</button>
   <button class="uk-button uk-button-success">wefwef</button>
   <button class="uk-button uk-button-danger">wefwef</button>
   <button class="uk-button uk-button-warning">wefwef</button>
   <button class="uk-button uk-button-dark">wefwef</button>
   <button class="uk-button uk-button-light">wefwef</button>
   <br/>
   <button class="uk-button uk-button-small uk-button-primary">wefwef</button>
   <button class="uk-button uk-button-small uk-button-complement">wefwef</button>
   <button class="uk-button uk-button-small uk-button-secondary">wefwef</button>
   <button class="uk-button uk-button-small uk-button-success">wefwef</button>
   <button class="uk-button uk-button-small uk-button-danger">wefwef</button>
   <button class="uk-button uk-button-small uk-button-warning">wefwef</button>
   <button class="uk-button uk-button-small uk-button-dark">wefwef</button>
   <button class="uk-button uk-button-small uk-button-light">wefwef</button>
{% endblock %}
