{% extends 'base.html.twig' %}

{% block title %}Hello HomepageController!{% endblock %}

{% block content %}


    {#   <video src="marcin/Tutoriale/Composer video.mp4" controls playsinline  uk-video></video>#}
    <h2>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et
        dolore magna aliqua.</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna
        aliqua. Petierunt uti sibi concilium totius Galliae in diem certam indicere. At nos hinc posthac, sitientis
        piros Afros. Fabio vel iudice vincam, sunt in culpa qui officia. Mercedem aut nummos unde unde extricat, amaras.
        Integer legentibus erat a ante historiarum dapibus.
        Ab illo tempore, ab est sed immemorabili. Quo usque tandem abutere, Catilina, patientia nostra? Nihil hic
        munitissimus habendi senatus locus, nihil horum? Lorem ipsum dolor sit amet, consectetur adipisici elit, sed
        eiusmod tempor incidunt ut labore et dolore magna aliqua.
        Cum sociis natoque penatibus et magnis dis parturient. Gallia est omnis divisa in partes tres, quarum. Morbi
        fringilla convallis sapien, id pulvinar odio volutpat.
        Qui ipsorum lingua Celtae, nostra Galli appellantur. Inmensae subtilitatis, obscuris et malesuada fames. Quisque
        ut dolor gravida, placerat libero vel, euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus.
        Ut enim ad minim veniam, quis nostrud exercitation. Unam incolunt Belgae, aliam Aquitani, tertiam. Curabitur est
        gravida et libero vitae dictum.</p>

    <br/>

    <button class="uk-button uk-button-circle"><i class="fas fa-sign-out-alt"></i></button>

    <br/>

    <br/>

    <br/>

    <br/>

    <a href="#" class="btn uk-button uk-button-circle">
        <i class="fa fa-home"></i>
    </a>
<a>ewfwefewf</a>
    <hr/>
    <div data-uk-grid class="uk-grid-medium">
        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-box-shadow-small">
            <h3 class="uk-card-title">Default</h3>
            <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut
                labore et dolore magna aliqua.</p>
        </div>


        <div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-box-shadow-medium">
            <h3 class="uk-card-title">Default</h3>
            <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut
                labore et dolore magna aliqua.</p>
        </div>
    </div>
    <hr/>
    <div class="uk-alert-primary" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>

    <div class="uk-alert-success" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>

    <div class="uk-alert-warning" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>

    <div class="uk-alert-danger" uk-alert>
        <a class="uk-alert-close" uk-close></a>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.</p>
    </div>
{% endblock %}
