{% extends 'base.html.twig' %}
{% set admin_menu %}
    {{ knp_menu_render('admin', {'template': 'themes/sidebarnemu.html.twig', 'allow_safe_labels': true, 'currentClass': 'uk-active'})|raw }}
{% endset %}

       {% block sidebar_menu %}
           <div class="sidebar-menu uk-card">
               <div class="uk-card-body uk-background-dark">
                   {{ admin_menu }}
               </div>
           </div>
       {% endblock %}
